snippet stlss
	class ${1} extends StatelessWidget {
	  const ${1}({super.key}); 

	  @override
	  Widget build(BuildContext context){
	    return Container();
	  }
	}

snippet stful
	class ${1} extends StatefulWidget {
	  const ${1}({super.key});

	  @override
	  State<${1}> createState() => _${1}State();
	}

	class _${1}State extends State<${1}> {
	  @override
	  Widget build(BuildContext context) {
	    return Container();
	  }
	}
